* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background: #8484B3;
	font-family: 'Open Sans';
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}
.card {
	width: 20%;
	min-width: 200px;
	background: white;
	box-shadow: 0 0px 5px  rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin:  0 20px;
	margin-bottom: 20px;
}

.card .card-header {
	background: attr(data-color);
	height: 80px;
	display: flex;
	justify-content: space-between;
	color:  white;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	position: relative;
}
.card .card-header a {
	width:  30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: inherit;
	text-decoration: none;
	position: absolute;
	right:  -10px;
	top: -10px;
	color: white;
	box-shadow: 0 0px 5px  rgba(0, 0, 0, 0.2);
}
.card-body {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	position: relative;
	padding-bottom: 5px;
}
.card-body img{
	border-radius: 50%;
	height: 70px;
	width:  70px;
	margin: auto;
	margin-top: -35px;
	object-fit: cover;
	border: 3px solid white;
	box-shadow: 0 0px 4px  rgba(0, 0, 0, 0.2);
	background: white;
}
.card-body a {
	padding: 7px 20px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	text-decoration: none;
	margin-top: 5px;
	color: rgba(30, 0, 70, 0.7);
}

.card-body a:hover {
	background: rgba(0, 0, 0, 0.1);
}

@media query and screen(max-width:  800px) {
	.card {
		margin:  0 5px;
		margin-bottom: 20px;
		min-width: 40%;
	}
}
